
@{
    ViewData["Title"] = "Creation Index";
}

<h2>Index</h2>

<hr />
<div class="row">
    <a class="btn btn-default" href="/person/create">Create Players</a>
    <a class="btn btn-default" href="/api/players">See Players</a>
</div>
